html
    head
        title React Login
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/3/w3.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",crossorigin="anonymous")
        link(rel="stylesheet", href="/views/styles.css",crossorigin="anonymous")        
    body
        div(id="app")
        script(src="/static/client.min.js",type="text/javascript")        
        